Repository Lucas-C/pelican-mg: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen_statics_bundles, eslint, stylelint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-merge-conflict
    -   id: trailing-whitespace
        args: [--no-markdown-linebreak-ext]
        exclude: ^static/(csslibs/|jslibs/|bundle-)
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
    -   id: remove-tabs
-   repo: local
    hooks:
    -   id: gen_statics_bundles
        name: gen_statics_bundles
        language: system
        entry: ./gen_statics_bundles.py
        files: ^static/(main.css$|js/)
    -   id: eslint
        name: eslint
        language: system
        entry: sh -c 'eslint --fix static/js/*.js'
        files: ^static/js/
    -   id: stylelint
        name: stylelint
        language: system
        entry: sh -c 'stylelint static/main.css'
        files: ^static/js/main.css$

Dropping html5validator in favour of vnu binary - fixing CI pipeline
  .gitignore
  run.sh
Due: none

Pleasing v.Nu HTML validator
  README.md
  run.sh
  templates/article.html
  templates/base.html
  templates/page.html
Due: none

Check all blog pages
  run.sh
Due: none

Minor update
  gen_statics_bundles.py
  static/bundle-SHARE-0-MG_FILTER_TAGS-0-SHORTSHA1-537ee6c.js
  static/bundle-SHARE-0-MG_FILTER_TAGS-0-SHORTSHA1-8766284.js
  static/bundle-SHARE-0-MG_FILTER_TAGS-1-SHORTSHA1-537ee6c.js
  static/bundle-SHARE-0-MG_FILTER_TAGS-1-SHORTSHA1-8766284.js
  static/bundle-SHARE-1-MG_FILTER_TAGS-0-SHORTSHA1-537ee6c.js
  static/bundle-SHARE-1-MG_FILTER_TAGS-0-SHORTSHA1-8766284.js
  static/bundle-SHARE-1-MG_FILTER_TAGS-1-SHORTSHA1-537ee6c.js
  static/bundle-SHARE-1-MG_FILTER_TAGS-1-SHORTSHA1-8766284.js
  static/bundle-SHORTSHA1-bf37241.css
  static/bundle-SHORTSHA1-e331880.css
  static/csslibs/uikit-2.27.4.min.css
  static/jslibs/jquery-1.10.2.min.js
  static/jslibs/jquery-1.12.0.min.js
  static/main.css
  templates/base.html
Due: gen_statics_bundles

Adding MG_WEBSITE_AGE
  README.md
  templates/index.html
Due: none

Improved the insertion logic of the blog age
  README.md
  templates/index.html
Due: none

Do not capitalize page titles in SEO metadata
  templates/article.html
  templates/categories.html
  templates/category.html
  templates/page.html
Due: none

Minor edit
  templates/tag.html
Due: none

Adding MG_TAG_PAGE_HEADER
  README.md
  templates/tag.html
Due: none

Introducing ISSO_JS_FILE
  README.md
  templates/article.html
  templates/page.html
Due: none

Introducing ENABLE_INDIEAUTH
  README.md
  templates/base.html
Due: none

Improve index.html tag filters
  static/bundle-SHARE-0-MG_FILTER_TAGS-0-SHORTSHA1-bb3786a.js
  static/bundle-SHARE-0-MG_FILTER_TAGS-1-SHORTSHA1-bb3786a.js
  static/bundle-SHARE-1-MG_FILTER_TAGS-0-SHORTSHA1-bb3786a.js
  static/bundle-SHARE-1-MG_FILTER_TAGS-1-SHORTSHA1-bb3786a.js
  static/bundle-SHORTSHA1-e129ad2.css
  static/js/filter-tags.js
  static/main.css
  templates/base.html
  templates/index.html
Due: gen_statics_bundles, eslint

Introduction des LISTENINGS
  README.md
  templates/base.html
  templates/past_listenings.html
  templates/past_readings.html
Due: none

Ajout icone Scenariotheque
  static/bundle-SHORTSHA1-69bf2fe.css
  static/main.css
  static/scenariotheque.svg
  templates/base.html
Due: gen_statics_bundles

Ajout icones nownownow & DriveThruRpg
  static/bundle-SHORTSHA1-1909719.css
  static/drivethrurpg-logo.png
  static/main.css
  static/nownownow-logo.png
  templates/base.html
Due: gen_statics_bundles

Replacing ALT_NAME by LOGO_IMAGE
  README.md
  static/bundle-SHORTSHA1-8514b4a.css
  static/main.css
  templates/base.html
  templates/index.html
Due: gen_statics_bundles
